
body, html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #D6D6D6;

}
canvas {
  width: 700px;
  height: 700px;
  background-color: #D6D6D6;
}

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  background: transparent;
  border: none;
}